name: Hello Workflow

on: 
  push:
  workflow_dispatch:
  workflow_call:

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message
        run: echo "Hello from GitHub Actions!"
